@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@300;400;500;600&display=swap');

:root{
    --main-color: rgb(113, 70, 5);
    --border-radius:95% 4% 97% 5%/4% 93% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

h3{
    box-sizing: 50%;
}

.heading{
    font-size: 6rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.5px var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--main-color);
    font-size: 2.5rem;
}

.btn{
    display: inline-block;
    padding: .9rem 1.5rem;
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    border: var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

section{
    padding: 2rem 9%;
}

.btn:hover{
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: rgb(255, 255, 255);
    box-shadow: 0 .5rem 1rem rgb(107, 73, 10);
    padding: 2rem 9%;
}

.header .logo{
    color: var(--main-color);
    font-size: 2.3rem;
}

.header .logo i{
    padding-left: .5rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}

.header .btn{
    margin-top: 0;
}

#menu-btn{
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    padding-top: 12rem;
    background: url(images/coffee-bg-inicio.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
    padding-top: 12rem;
}

.home .row .image{
    flex:1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}


@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-7rem);
    }
}


.home .row .content h3{
    font-size: 6.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    width: 50%;
}


.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 10rem;
    padding-top: 8rem;
}

.about .row .image{
    flex: 1 1 42rem;
}

.about .row .image img{
    width: 100%;
    animation: aboutImage 4s linear infinite;
}

@keyframes aboutImage {
    0%, 100%{
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50%{
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}


.about .row .content{
    flex: 1 1 42rem;
}

.about .row .content .title{
    color: var(--main-color);
    font-size: 3rem;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.explain{
    background-position: center;
    background-size: cover;
}

.explain .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.explain .row .content{
    flex: 1 1 42rem;
}

.explain .row .content .title{
    color: var(--main-color);
    font-size: 3rem;
    line-height: 1.8;
}

.explain .row .content p{
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.explain .row .image{
    flex: 1 1 42rem;
}

.explain .row .image img{
    width: 80%;
    animation: aboutImage 4s linear infinite;
}

.planos{
    background-position: center;
    background-size: cover;
}

.planos .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.planos .box-container .box{
    flex:1 1 42rem;
    padding:2rem;
    border:var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap:1.5rem;
    margin-left: 6rem;
}

.planos .box-container .box:hover{
    border:var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.planos .box-container .box img{
    height: 12rem;
    margin-left: -6rem;
}

.planos .box-container .box .content h3{
    font-size: 2.2rem;
    color:var(--main-color);
    line-height: 1.8;
}

.planos .box-container .box .content p{
    font-size: 1.6rem;
    color:var(--main-color);
    line-height: 1.8;
    padding:1rem 0;
}

.planos .box-container .box .content span{
    font-size: 2rem;
    color:var(--main-color);
    line-height: 1.8;
}

footer {
    align-items: center;
    flex-direction: column;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: flex;
    width: 100%;
    box-shadow: 0.031rem 0.063rem 0 rgb(107, 73, 10);
}

#infos {
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 81%;
    padding-top: 24px;
}

#email {
    display: flex;
}

#email img {
    height: 24px;
    left: 409px;
    width: 24px;
}

#email:hover {
    border-bottom: 1px solid;
    font-style: italic;
}

#email a:hover {
    text-decoration: none;
}

#redes-sociais div {
    display: flex;
    list-style: none;
}

#author{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

footer div a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
}

footer div a:first-of-type {
    margin-left: 0;
}

footer div a:hover {
    text-decoration: underline;
}

#botao-topo {
    background: none;
    border: none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    outline: none;
    padding: 30px;
    position: fixed;
    right: 30px;
    z-index: 99;
}

#botao-topo img {
    height: 40px;
    width: 40px;
}




@media(max-width:991px){

    html{
        font-size: 55%
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}


@media(max-width:768px){
    #menu-btn{
        display: initial;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: rgb(255, 255, 255);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
    }

}


@media(max-width:450px){
    html{
        font-size: 50%
    }

}


@media(min-width: 320px) and (max-width: 1025px) {
    footer {
        height: auto;
        width: auto;
    }
    #contato {
        margin-bottom: 68px;
    }
    #infos {
        align-items: unset;
        display: flex;
        flex-direction: column;
    }
    #email {
        margin-bottom: 20px
    }
    #botao-topo {
        display: none;
    }
}